.contacts__text {
  margin: 0;
}
.contacts__item {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  color: #472f17;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contacts__item:first-child {
  margin-top: 20px;
}
.contacts__btn {
  display: block;
  height: 20px;
  width: 80px;
  margin: auto;
  margin-left: 10px;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-decoration: none;
  user-select: none;
  padding: 0.2em 1.2em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all 0.218s ease 0s;
}
.contacts__btn:hover {
  color: rgb(24, 24, 24);
  border: 1px solid rgb(198, 198, 198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.contacts__btn:active {
  color: rgb(51, 51, 51);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(238, 238, 238)
    linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
